<!DOCTYPE html>
<html lang="zh-hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>關於買家</title>
    <link rel="stylesheet" href="./css/FAQ_my_account.css" />

</head>
<body>
<!-- header -->
<div th:replace="~{Customer_Service/html/saHeader}"></div>

    <!-- 主要內容區域 -->
    <div class="main-content">

        <!-- 左側選單 -->
        <div class="left-menu">
            <img src="./img/my_account.png" alt="我的帳號" >
            <a>關於買家</a>
            <div class="menu-item">
                <button onclick="window.location.href='./FAQ_my_account01.html'">註冊及登入</button>
            </div>
            <div class="menu-item"><button>帳號驗證</button></div>
            <div class="menu-item"><button>帳號狀態</button></div>
            <div class="menu-item"><button>個人資料管理</button></div>
            <div class="menu-item"><button>通知設定</button></div>
        </div>
        <!-- 右側內容 -->
        <div class="right-content"> </div>
    </div>

<!-- footer -->
<div th:replace="~{Customer_Service/html/footer}"></div>

<!-- script -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
