<!-- src/main/resources/templates/layout/layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>saHeader</title>

    
</head>
<body>
    <!-- 頁首區域 -->
    <header class="p-3 bg-dark text-white">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <!-- 管理操作選單 -->
                <ul class="nav me-auto">
                    <li><a href="/" class="btn btn-warning text-black">CHKWGameStop</a></li>
                </ul>

                <!-- 搜尋欄 -->
                <form class="d-flex justify-content-center me-auto" role="search">
                    <input type="search" class="form-control form-control-dark me-2" placeholder="Search..." aria-label="Search" style="width: 300px;">
                    <button type="submit" class="btn btn-outline-light">搜尋</button>
                </form>

                
            </div>
        </div>
    </header>

    
</body>
</html>